@model List<Product>

@{
    ViewBag.Title = "Products";
}

<section class="page-section">
    <div class="container">
        <div class="product-item mx-3">
            <div class="product-item-title">
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-auto m-2">
                            <div class="card bg-faded p-5 ms-auto rounded" style="width: 18rem;">
                                <img src="~/" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@product.ProductName</h5>
                                    <p class="card-text">@product.ProductPrice</p>
                                    <a href="#" class="btn btn-primary">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>


        </div>
    </div>
</section>